@media print {
  .fake-header {
    // display: block;
  }

  table {
    // margin-top: 20px; /* Adjust margin-top to create space between the fake header and the table */
  }
}
.print-container {
  //   position: relative;
}

.fake-header {
  background-color: #eee;
  padding: 10px;
  text-align: center;
  position: fixed;
  top: 0;
  width: 100%;
}

table {
  width: 100%;
  //   border-collapse: collapse;
  //   margin-top: 40px; /* Adjust margin-top to create space between the fake header and the table */
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
